[% 
    title = 'Diary List' ;

    crumb2_name = 'Diary' ;
    crumb2_href = '/cgi-bin/pages.cgi?act=diary-admin' ;
    crumb1_name = 'List' ;
%]

<p> <a href="[% cgipath %]/pages.cgi?act=diary-add">add a diary entry</a>
[% IF comcount %]
|   <a href="[% cgipath %]/pages.cgi?act=diary-clist">comment approval ([% comcount %])</a>[% END %]
</p>

<form name="datalist" method="post" action="[% cgipath %]/pages.cgi">
<input type="hidden" name='act' value='diary-admin' />

<table class="blocker">
    <tr><th>Title</th>
        <th>Date</th>
        <th>Status</th>
        <th>Select</th>
    </tr>
[% FOREACH item = data %]
    <tr><td><a href="[% cgipath %]/pages.cgi?act=diary-edit&amp;articleid=[% item.articleid %]">[% item.title %]</a></td>
        <td>[% item.postdate %]</td>
        <td>[% item.publishstate %]</td>
        <td><input type="checkbox" name="LISTED" value="[% item.articleid %]" /></td>
    </tr>
[% END %]
[% IF norecs %]
<tr><td colspan="3" align="center">No diary listed.</td></tr>
[% END %]
</table>

<p>
<input type="submit" name='doaction' value='Delete' /></p>
</form>
