[% 
    title = data.realname ;

    crumb2_name = 'Authors' ;
    crumb2_href = '/'
    crumb1_name = data.realname ;
%]

<table width="100%">
<tr><td>[% IF data.link %]
        <div class="left" >
          <img src='[% webpath %]/[% data.link %]' alt='[% data.tag %]' />
        </div>
        [% END %]
        <p>[% data.realname ; IF data.nickname %] ([% data.nickname %])[% END %] has posted
          [% IF    data.posts == 1 %]once[% ELSIF data.posts == 2 %]twice[% ELSE ; data.posts %] times[% END %].</p>
        [% IF data.aboutme %][% data.aboutme %][% END %]
        [% IF data.url %]<p>My Web Page: <a href="[% data.url %]">[% data.url %]</a></p>[% END %]
    </td>
</tr>
</table>
